.vscode/*
!.vscode/extensions.json
.idea
**/.DS_STORE
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

**/npm-debug.log*
**/node_modules
**/.env
**/database.sqlite3

# only when on correction branch
correction/
